@import 'variables';

.about-page-reviews {
    position: relative;
    width: 70%;
    height: 100px; // Adjust to the content height
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5); // Semi-transparent background
    padding: 100px;
    color: rgb(223, 223, 195);
  
    .review {
      position: absolute;
      width: 100%;
      opacity: 0; // Hide all reviews by default
      transition: opacity 1s ease-in-out; // Smooth fade transition
    }
  
    .review.active {
      opacity: 1; // Only show the active review
    }
  }
  
  .about-container {
    font-family: 'Playfair Display', serif;
    font-weight: 200;
    font-style: italic;
    background-image: url('Images/Drinks/coffee.jpg'); /* Image path to the background coffee image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 200px;
    color: beige;
  }
  