@import 'variables';

// Grid Container
.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr); // Two equal columns
    gap: $padding-vertical $padding-horizontal; // Vertical and horizontal gaps
    margin: 0 auto; // Center the grid container
    max-width: calc($large-image-width * 2 + $padding-horizontal); // Set a max-width for the container
    padding: $padding-vertical $padding-horizontal;
    background-color: $background-color;
  }
  
  // Chef's Special Grid
  .chef-special-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // Three equal columns for the layout
    gap: $padding-vertical $padding-horizontal; // Vertical and horizontal gaps between the blocks
    margin: 0 auto; // Center the grid container on the page
    max-width: 100%; // Allow the grid to take the full width of the page
    padding: $padding-vertical $padding-horizontal;
  }
  
